
/* ::::::::::::::::::MOBILE-FIRST DESIGN:::::::::::::::::: */

/* :::::::::::::::::::GENERIC::::::::::::::::::::: */

body{
    color: rgb(34, 38, 41);
    font-size: 1.125rem;
    margin: 0;
}

h1{
    text-align: center;
    margin: 0;
    margin-bottom: 0.2em;
}

img{
    max-width: 100%;
    display: block;
}

/* ::::::::::::::::::::::NAVBAR::::::::::::::::::::::: */

.container{
    width: 95%;
    max-width: 1180px;
    margin: auto;
}

.container-nav{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding:1em 0em;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav ul li{
    text-align: center;
    background-color: whitesmoke;
    border-bottom:1px solid grey;
    /* border: 1px solid red; */
}

nav ul li:first-child{
    border-top: 1px solid grey;
}

nav ul li a{
    text-decoration: none;
    display: block;
    /* margin-top: 0.3em; */
    padding: 0.5em;
    color: rgb(36, 33, 33);
}

nav ul li:hover{
    border-bottom: 1px solid grey;
}

nav ul li a:active{
    border: 1px solid grey;
    background-color: rgb(243, 239, 239);
}

.container-nav{
    border-bottom: 1px solid grey;
}

.dropdown{
    position: relative;
}

.dropdown-content{
    display: none;
}

.dropdown-content ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.dropdown-content ul li{
    text-align: left;
    margin-left: 0;
}

.dropdown li:hover .dropdown-content ul li:hover{
    border-bottom: 1px solid grey;
}

/* :::::::::::::::::MAIN-CONTENT:::::::::::::::::::::: */

.container-content{
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    border-bottom: 1px solid grey;
}

.container-info h2{
    display: none;
}

.image-big{
    margin-bottom: 0.5em;
    position: relative;
}

.image-big img{
    display: block;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: left;
}

.image-big:hover .big-overlay{
    height:100%;
}

.big-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: lightblue;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    opacity: 0.6;
}

.big-text{
    color: black;
    font-weight: 600;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.image-scroll{
    display: flex;
    overflow: auto;
    white-space: nowrap;
}

.image-scroll img{
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    margin-right: 0.5em;
}

.image-scroll img:last-child{
    margin-right: 0em;
}

.info-price-cart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-price-cart p{
    font-size: 1.75rem;
    margin: 0.5em 0em 0.3em 0em ;
}

.price{
    font-size: 1.5rem;
}

.info-price-cart button{
    margin-right: 0em;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    /* height: 100%; */
}

.info-description{
    margin-top: 0.2em;
}

.info-description button{
    display: none;
}

.description-content{
    padding:1em 0em;
    margin: 0;
}

.container-seemore{
    padding-bottom: 4em;
}

.seemore-images{
    overflow: auto;
    white-space: nowrap;
    padding-bottom: 0.8em;
}

.seemore-info{
    display: inline-block;
   
}

.seemore-info img{
    object-fit: cover;
    margin-right: .5em;
    max-width: 200px;
    height: 200px;
}
.seemore-info:last-child{
    margin-right: 0;
}

.seemore-info p{
    margin:0.3em 0em;
}

.seemore-price{
    font-weight: 600;
}

.container-footer{
    text-align: center;
    padding:0.8em 0em;
    border-top: 1px solid grey;
}

/* :::::::::::::::::::MEDIA QUERIES::::::::::::::::::: */



@media (min-width:650px){
    nav ul{
        flex-direction: row;
        justify-content: center;
    }
    nav ul li{
        border:none;
        margin-left: 1.5em;
        background-color: white;
    }
    nav ul li:first-child{
        border-top: none;
    }
    nav ul li a:hover{
        border:none;
        background-color: white;
    }
    .container-content{
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 2em;
    }
    .container-image{
        width: 60%;
    }
    .container-info{
        width: 35%;
    }
    .container-info h2{
        display: block;
        margin: 0;  
    }
    .bigimage-heading h2{
        display: none;
    }
    .price{
        display: none;
    }
    .info-price-cart{
        border-bottom: 1px solid grey;
    }
    .info-price-cart button{
        display: none;
    }
    .info-price-cart p{
        margin-left: 0;
    }
    .info-description button{
        display: block;
        background-color: black;
        color: white;
        cursor: pointer;
        padding: 1em 2em;
    }
    .info-description{
        margin-top: 0;
    }
    .description-content{
        margin: 0;
    }
    .container-seemore{
        margin-top: 2em;
    }
    .container-seemore h2{
        margin-bottom: 1em;
    }
    .dropdown li:hover .dropdown-content{
        display: block;
        z-index: 2;
        position: absolute;
    }
}
@media (min-width:950px){
    .container-nav{
        flex-direction: row;
        justify-content: space-between;
    }
    .container-content{
        padding-bottom: 3em;
    }
    .container-info h2{
        margin-bottom: 0.5em;
    }
    .image-scroll img:hover{
        width: 150%;
        /* max-height: 160px; */
    }
    .info-price-cart{
        padding-bottom: 1em;
    }
    .info-description{
        margin-top: 1em;
    }
    .description-content{
        padding:1em 0em;
        margin: 1em 0em;
    }
    .seemore-images{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .seemore-images img{
        max-width: 220px;
        height: 220px;
    }
}
